<h1>Eat & Travel</h1>

<div class="row">
	<div class="large-4 columns">
    <p>Sample the regional cuisines</p>
	</div>
	<div class="large-4 columns">
	  <h2>See</h2>
	  Porthole here
	</div>
	<div class="large-4 columns">
	</div>
</div>
<hr />
		
<div class="row">
	<div class="large-4 columns">
	  &nbsp;
	</div>
	<div class="large-4 columns">
	  <div class="">
		  <h2>Taste</h2>
		  <a href="#" data-reveal-id="myModal">Click Me For A Menu</a>
	  </div>
	</div>
	<div class="large-4 columns">
	</div>
</div>
		



<!-- Reveal Modals Begin -->
<div id="myModal" class="reveal-modal large">
  
  <h3>Menu</h3>
  <% @dishes.each do |dish| %>
    <div class="row">
      <div class="large-4 columns">
        <img src="<%= dish.thumbnail_path %>" alt="eatntravel">
      </div>
      <div class="large-8 columns">
        <p class="lead"><%= dish.name %></p>
        <p><%= dish.summary %></p>
        <div class="section-container accordion" data-section="accordion">
          <section class="">
            <p class="title" data-section-title><a href="#">More info</a></p>
            <div class="content" data-section-content>
              <p><%= dish.content %></p>
              <p><%= dish.tags %></p>
            </div>
          </section>
        </div>
      </div>
    </div>
  <% end %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
    
    <!-- Reveal Modals End -->
