
<div id="ui">

  <div id="porthole_container" class="row">
  	<div id="porthole_left" class="large-4 columns">
      &nbsp;
  	</div>
  	<div id="porthole" class="large-4 columns">
  	  &nbsp;
  	</div>
  	<div id="porthole_right" class="large-4 columns">
  	  <%= image_tag "LeftArrow.png" %>
  	  
  	</div>
    </div>



  <div class="row">
  	<div class="large-4 columns">
  	  <%= image_tag "RightArrow.png" %>
  	</div>
  	<div class="large-4 columns">
      &nbsp;
  	</div>
  	<div class="large-4 columns">
  	</div>
  </div>
		
		  <div class="row">
  	<div class="large-4 columns">
  	  &nbsp;
  	</div>
  	<div class="large-4 columns">
      
  		  <a href="#" data-reveal-id="myModal">Click Me For A Menu</a>
  	</div>
  	<div class="large-4 columns">
  	</div>
  </div>
		
		
</div> <!-- ui //-->




<div id="inside">
  <ul id="scene">
    <li class="layer" data-depth="0.00"><%= image_tag('porthole_grey.png', :class => 'bigger_porthole') %></li>
    <li class="layer" data-depth="0.10"><%= image_tag('porthole.png') %></li>
  </ul>
  <ul id="scene_table">
    <li id="table" class="layer" data-depth="0.2"><%= image_tag('table.png') %></li>
    <li id="plate" class="layer" data-depth="0.3"><%= image_tag('plate.png') %></li>
  </ul>
</div>

<div id="outside">
  <h1>Back</h1>
</div>

<!-- Reveal Modals Begin -->
<div id="myModal" class="reveal-modal large">
  
  <h3>Menu</h3>
  <%= render 'dishes/dishes' %>
  
  <a class="close-reveal-modal">&#215;</a>
</div>
<!-- Reveal Modals End -->